<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ticketed Issues</title>
        <link rel = "icon" href = "/static/favicon.png">
        <link rel = "shortcut icon" href="/static/favicon.ico">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body style="font-family: monospace; background-color: #002b36">
        
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Feel at Home</li>
                </ol>
            </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card text-center text-white bg-dark">
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <h5 class="card-title">Login</h5>
                            <p class="card-text">Common portal for Ticket Clients and Agents. Contact Admin for further assistance.</p>
                            <a href="/login" class="btn btn-primary">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card text-center text-dark bg-light">
                        <div class="card-header">Docs</div>
                        <div class="card-body">
                            <h5 class="card-title">Docs</h5>
                            <p class="card-text">Guide to the API endpoints.</p>
                            <a href="/docs" class="btn btn-primary">Show me the docs</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card text-center text-white bg-dark">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <h5 class="card-title">Register</h5>
                            <p class="card-text">Register as a Issue Client. For registering as a Ticket Agent, contact your admin.</p>
                            <a href="/register" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>