<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ticketed Issues</title>
    <link rel = "icon" href = "/static/favicon.png">
    <link rel = "shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block body %}

            <h4>USER Log In</h4>
            <br>
            {% from "_formhelpers.html" import render_field %}
            <form method=post action="/login/">
                <dl>
                    {{render_field(form.username)}}
                    {{render_field(form.password)}}
                </dl>
                <p><input type=submit value=LogIn></p>
            </form>
            
            {% if error %}
                <p class="error"><strong>Error:</strong>{{error}}</p>
            {% endif %}
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}

{% endblock %}